html {
  @include vr-baseline(ms(0), ms(1));
  @include from(2) {
    font-size: 115%;
    line-height: vr(ms(0), 1.15);
  }
}

body {
  background-color: palette(white);
  color: palette(beige, extra-dark);
  font-family: font-stack(primary);
}

h1,
h2,
h3,
p,
ul,
ol{
  margin-bottom: vr(ms(0));
  margin-top: 0;
}

h1 {
  color: palette(black);
  font-size: ms(2);
  font-weight: 500;
  line-height: vr(ms(2));
}

h2 {
  color: palette(black);
  font-size: ms(1);
  font-weight: 500;
  line-height: vr(ms(1));
}

h3 {
  color: palette(black);
  font-size: ms(-1);
  font-weight: 600;
  letter-spacing: 0.125em;
  line-height: vr(ms(-1));
  text-transform: uppercase;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

ul, ol {
  margin-left: vr(ms(0));
}

li {
  display: list-item;
  list-style-type: disc;
}

small {
  font-size: ms(-1);
  line-height: vr(ms(-1));
}

strong {
  font-weight: 500;
}

a {
  color: palette(accent);
  font-weight: 500;
  text-decoration: underline;

  &:hover {
    color: palette(black);
  }
}
