.button {
  @include type-scale(base);
  @include type-weight(semi-bold);
  background-color: palette(accent);
  border-radius: 0.5em;
  color: palette(white);
  display: block;
  letter-spacing: 0.15em;
  padding: rhythm(0.6) rhythm(1);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: palette(accent, dark);
    color: palette(white);
  }

  &--secondary {
    @extend .button;
    background-color: palette(white);
    color: palette(accent);

    &:hover {
      background-color: palette(white);
      color: palette(accent, dark);
    }
  }
}
