.button {
  @include type-weight(medium);
  background-color: palette(accent);
  border-radius: 10em;
  color: palette(white);
  display: inline-block;
  letter-spacing: 0.05em;
  padding: rhythm(0.3) rhythm(1.5);
  text-decoration: none;

  &:hover {
    background-color: palette(accent, dark);
    color: palette(white);
  }

  &--secondary {
    @extend .button;
    background-color: palette(white);
    color: palette(accent);
  }
}
