.inline-buttons {
  margin-left: 0;

  &__button {
    @include pad(1);
    @include margin-trailer(0.75);
    list-style: none;

    &--last {
      @extend .inline-buttons__button;
      margin-right: 0;
    }
  }
}
